.devices {
  &__button-show {
    margin-bottom: 24px;
  }
  &__form {
    display: flex;
    margin-bottom: 24px;
  }
  &__form-control {
    padding-right: 24px;
  }
  &__table {
    border-spacing: 0;
    th {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding: 8px 16px;
    }
    td {
      padding: 8px 16px;
    }
  }
  &__parameter {
    &--threshold {
      color: red;
    }
  }
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
