<div class="devices">
  <h2 class="devices__title">Список устройств</h2>

  <button class="devices__button-show" *ngIf="!showForm" (click)="showForm=true">Изменить порог</button>
  <form class="devices__form" *ngIf="showForm" [formGroup]="deviceGroup" novalidate (ngSubmit)="submit()">
    <div class="devices__form-control">
      <label>Id device:</label>
      <input formControlName="id">
      <div class="alert alert-danger"
        *ngIf="deviceGroup.controls['id'].invalid && deviceGroup.controls['id'].touched">
          Не указано Id устройства
      </div>
    </div>
    <div class="devices__form-control">
      <label>HiVal:</label>
      <input formControlName="hiVal">
    </div>
    <div class="devices__form-control">
      <label>LoVal:</label>
      <input formControlName="loVal">
    </div>
    <div>
      <button [disabled]="deviceGroup.invalid">
          Отправить
      </button>
    </div>
  </form>

  <table class="devices__table">
    <tr class="devices__row">
      <th>Id device</th>
      <th>Parameter1</th>
      <th>Parameter2</th>
      <th>Parameter2 Threshold Hi</th>
      <th>Parameter2 Threshold Lo</th>
    </tr>
    <tr *ngFor="let item of devices$ | async">
      <td>{{item.id}}</td>
      <td>{{item.parameter1}}</td>
      <td class="devices__parameter" [class.devices__parameter--threshold]="!item.parameter2Correct">
        {{item.parameter2}}
      </td>
      <td>{{item.parameter2ThresholdHi}}</td>
      <td>{{item.parameter2ThresholdLo}}</td>
    </tr>
  </table>

</div>
